# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store
*.swp
*.swo
*~
.vscode/

# IDE
.idea/
*.iml

# OS
Thumbs.db
